# Dependencies
node_modules/

# Environment
.env
.env.local
.env*.local

# Database
prisma/dev.db
prisma/dev.db-journal
*.sql

# Uploads
public/uploads/*
!public/uploads/.gitkeep

# Build
.next/

# IDE
.vscode/
.idea/
*.swp
*.swo

# System
.DS_Store
Thumbs.db
*.log

# Vercel
.vercel

# Old PHP
_php_old/
